header {
	background-color: rgb(255,185,0);
	height:60px;
}
.wrapper{
	min-height: 700px;
	margin-top: 15px;
}

footer{
	background-color: #000000;
	height:60px;
	padding-top: 15px;

}

footer .tag{
	padding-top: 10px;
	text-align: center;
}


/* common footer content */
.copyrightGold{
	color: rgb(255,185,0);
	float:left;

	
}
.copyrightWhite{
	color:#FFFFFF;
	float: left;

}

/*   */ 
.icons{
	float:right;
	height: 30px;
	margin-top: 10px;
}




.pic{
	border-radius:15px;
	height: 30px;
	width: 30px;

}


.profile-name{
	
	margin:37 auto 0 auto;
	text-align: center;
	font-size: 26px;
	margin-top:32px;
	margin-right:16px;
	font-family: sans-serif;


}


.column1{
	
	border-right: solid;

	border-right-color: rgb(230,233,238);
	border-right-width:2px;


}



.column3{
	height:600px;
	border-left: : solid;

	border-left-color: rgb(230,233,238);
	border-left-width:2px;

}


.hexagon-image {
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	background: url("ronaldo.jpg") no-repeat;
	background-size: cover;
	margin: 10px auto;
	height: 200px;
	width: 170px;
}
.hexagon-edit
{
	position: absolute;
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	background: url("edit.png") no-repeat;
	background-size: cover;
	margin: 10px auto;
	height: 54px;
	width: 50px;
	z-index: 999;
	right: 37px;
	top: 145px;
}




.progress{
	height:60px;
	background-color: #ffffff;
	padding-right: 5px;
	
	margin-right: 10px;
	margin-bottom: 0;
	text-align: left;
	width:200px;
	border:none;
	box-shadow: none;
	-webkit-box-shadow: none;
}



.following{
	color:rgb(185,185,185);
	margin: 10px auto 0 auto;
	text-align: center;
	font-size: 14px;
}
.following-number{
	color:#000000;
	font-size: 36px;
	text-align: center;
	margin: 0px auto 0 auto;
}
.followers{
	color:rgb(185,185,185);
	margin: 10px auto 0 auto;
	text-align: center;
	font-size: 14px;
}
.followers-number{
	color:#000000;
	font-size: 36px;
	text-align: center;
	margin: 0 auto 0 auto;

}



.row-data
{
	margin-left: 20px;
	font-size: 15px;
	padding:5px 0 0 15px;
	margin-bottom: 0px;
}

.table-row
{
	height: 25px;
	margin-bottom: 20px;
}




.thinterest{ 
	padding-right:  20px;
	align-content: left;

	text-align: center;
}


.p1{
	color: #000; font-size: 7.77px;
	font-weight: bold; 
	font-family: "OpenSans-Semibold";
	
	margin-top: 5px;

}

.row5{
	margin-top: 50px;
	margin-bottom: 20px;
}

}
.row6{
	margin-top: 30px;
}

}
.h61{display: inline-block;
	margin-left: 20px;
	float: left;
}
th.personpic{
	padding-bottom: 10px;
	font-family: "OpenSans-light;"
}

.rightcolumn{
	border-style: solid;
	border-left: : solid;

	border-left-color: rgb(230,233,238);
	
	border-width: 0 0 0 2px;
}
.margininterest{
	margin-top: 20x;
}


------------------

.info-table{
	margin:0 auto 0 auto;

}



/*
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- 
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ 
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

.value{
	margin-bottom: 0px;
}





input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: rgb(285,185,0);
	border-color: rgb(285,185,0);
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color:background-color: rgb(285,185,0);}
input::-webkit-input-placeholder {
	color: background-color: rgb(285,185,0);
}

/* Demo 2 
#demo-2 input[type=search] {
	width: 15px;
	margin-top:6px;
	padding-left: 10px;
	color: solid;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: rgb(285,185,0);
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: rgb(285,185,0);
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: solid;
}
#demo-2 input::-webkit-input-placeholder {
	color: solid;
}

/*


/* Bilal Homepage css */
.postButton{
background-color: rgb(255,185,0);

}

.bodyContent{
	word-wrap: break-word;
	font-family: "Calibri";
	font-size: 16px;
	text-align: center;
}

.profileName{
	font-weight: bold;
}


/* zohaib Edit profile css */

.f1{
	margin: 0 auto;
	width: 200px;
}
.hey1{
	color: rgb(255,185,0);
	float: left;
}
.hey2{
	color:rgb(255,255,255);
	float:left;
}
.hey3{
	color:rgb(255,185,0);
	float:left;
}
.t1{
	padding-top: 50px;
}
.signupbox{
	margin-top: 50px;
	width: 940px;
	height: 550px;
	border-color: rgb(251,208,140);
	border-style: solid;
}
.blue-a{
	height: 250px;
	padding-top: 33px;
	border-color: ;
	padding-left: 20px;
    border-right: 2px solid rgb(232,233,238);
}
.blue-b{
	height: 250px;
	padding-left: 20px;
	padding-top: 20px;
	border-right: 2px solid rgb(232,233,238);
}
.blue-c{
	height: 250px;
	border-style: ;
	border-color: ; 
	padding-top: 20px;
}
.red-1{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px
}
.r2{
	margin-top: 10px;
}
.r3{
	border-radius: 10px;
	font-size: 10px;
	font-weight: bold;
	color: rgb(0,0,0);
}
.g1{
	margin-top: 15px;
}
.r4{
	width: 160px;
	font-size: 10px;
	font-weight: bold;
	display: inline;
	margin-left: 10px;
	border-radius: 10px;
}
h6{
	height: 220px;
}
.y1{
	padding-left: 30px;
}
.h1{
	height: 230px;
	border-right: 2px solid rgb(232,233,238);
}
.h8{
	height: 160px;
}
.p1{
	font-size: 13px;
	font-weight: bold;
	padding-left: 5px;
	margin-top: 15px;
}
.p2{
	display: inline;
	padding-left: 5px;
	color: rgb(0,0,0);
}
.l1{
	padding-left: 20px;
	font-size: 13px;
	font-weight: bold;
	margin-top: 15px;
}
.p3{
	display: inline;
	padding-left: 5px;
	color: rgb(167,173,185);
}
.h2{
	padding-top: 10px;
}
.i1{
	border-radius: 15px;
	font-size: 10px;
	font-weight: bold;
	color: rgb(0,0,0);
	min-width: 70px;
	display: inline;
	height: 30px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: rgb(167,173,185);
	background-color: rgb(255,255,255);
	border-width: 0.5px; 
}
.button2{
	margin-bottom: 30px;
	margin-left: 800px;
	width: 100px;
	border-radius: 15px;
	background-color: rgb(255,185,0);
	color: rgb(255,255,255);
	height: 30px;

}
.button4{
	margin-bottom: 30px;
	margin-left: 700px;
	width: 100px;
	border-radius: 15px;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	height: 30px;

}
.button3{
	margin-bottom: 30px;
	margin-left: 20px;
	width: 100px;
	border-radius: 15px;
	background-color: rgb(255,185,0);
	color: rgb(255,255,255);
	height: 30px;
}
.p6{
	color: rgb(0,0,0);
}
.y2{
	margin-top: 15px;
	width:920px;
	margin-right: 10px;
	margin-left: 10px;
	
}
.ty{
	margin-top: 30px;
}
.y3{
	border-bottom: 2px solid rgb(232,233,238);
	padding-bottom: 10px;
}
.y4{
	width:920px;
	margin-right: 10px;
	margin-left: 10px;

}
.i2{
	border-color: rgb(253,208,140);
	border-width: 1.5px;
}
.scrollbar
{
	float: left;
	width: 200px;
	background: #Ffffff;
	overflow-y: scroll;
	height: 160px;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff;
}
#style-1::-webkit-scrollbar
{
	width: 5px;
	background-color: #ffffff;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(166,166,166);
}



#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}